bd_OLTP.tar
copia-BD.sql
bd-OLTP
example.png
example2.png
preguntas.py
tablas.json
.ipynb_checkpoints/analisis_negocio-checkpoint.ipynb
.ipynb_checkpoints/Tests-checkpoint.ipynb
src/__pycache__/run_etl.cpython-312.pyc
src/etl/__pycache__/01_dim_fecha.cpython-312.pyc
src/etl/__pycache__/02_dim_hora.cpython-312.pyc
src/etl/__pycache__/03_dim_cliente.cpython-312.pyc
src/etl/__pycache__/04_dim_geografia.cpython-312.pyc
src/etl/__pycache__/05_dim_sede.cpython-312.pyc
src/etl/__pycache__/06_dim_mensajero.cpython-312.pyc
src/etl/__pycache__/07_dim_urgencia_servicio.cpython-312.pyc
src/etl/__pycache__/08_dim_estado_servicio.cpython-312.pyc
src/etl/__pycache__/09_dim_novedad.cpython-312.pyc
src/etl/__pycache__/10_fact_cambio_estado_servicio.cpython-312.pyc
src/utils/__pycache__/db_connections.cpython-312.pyc
